*.js
!Mutation.*.js
!Query.*.js
!*/mutations/**/app-sync-function.js
!*/queries/**/app-sync-function.js
!jest.config.js
!react-app-env.d.ts
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.DS_Store

.env.local